
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    background-color: azure; 
}

#hero_image {
    height: 600px;
    width: 100%;
    background:  url("assets/images/kommieRacerSmall.jpg") no-repeat center center/cover;
    position: relative;
    background-color: #cccccc;  /* default color if image not found */
}


#hero_text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 15%;
    right: 5%;
    width: 60%;
    min-height: 200px;
    padding-top: 40px;     
    padding-left: 10px;
}


#hero_text > h1 {
    color: white;
}
#hero_text > h2 {
    color: yellow;
}